{{ define "post-header" }}
<header class="post-header">
    <span class="post-author-name">{{ .AuthorUsername }}</span>
    <span class="post-author-username">@{{ .AuthorUsername }}</span>
    <span class="post-time" data-time="{{ .CreatedAt }}"></span>
</header>
{{ end }}

{{ define "post-likes" }}
<div>
    <i class="bi like-post {{ if .LikedByMe }}bi-heart-fill text-danger{{ else }}bi-heart{{ end }}" style="cursor: pointer;"></i> <span>{{ .Likes }}</span>
</div>
{{ end }}

{{ define "post-with-permission" }}
<article class="feed-post" data-post-id="{{ .ID }}">
    <div class="profile-pic-placeholder"></div>
    <div class="post-content-area">
        <div class="d-flex justify-content-between align-items-start">
            {{ template "post-header" . }}
            <div class="dropdown">
                <button class="btn btn-link p-0 text-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item text-danger delete-post-btn" href="#" data-post-id="{{ .ID }}">
                            <i class="bi bi-trash"></i> Excluir
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="post-text">{{ .Content }}</p>
        <footer class="post-actions">
            {{ template "post-likes" . }}
        </footer>
    </div>
</article>
{{ end }}

{{ define "post-without-permission" }}
<article class="feed-post" data-post-id="{{ .ID }}">
    <div class="profile-pic-placeholder"></div>
    <div class="post-content-area">
        {{ template "post-header" . }}
        <p class="post-text">{{ .Content }}</p>
        <footer class="post-actions">
            {{ template "post-likes" . }}
        </footer>
    </div>
</article>
{{ end }}