{{ define "profile_body" }}
<div class="profile-body px-4 pb-0 pt-2">
    <div class="profile-bio mt-2">{{ .Profile.User.Bio }}</div>
    <div class="profile-links mt-1"></div>
    <div class="profile-meta mt-2 d-flex flex-wrap gap-3">
        <span><i class="bi bi-calendar3"></i> Joined <span id="profile-join-date">{{ index .Profile.User.CreatedAt }}</span></span>
    </div>
    <div class="profile-stats mt-3 d-flex gap-4">
        <span>
            <button type="button" class="profile-stat-btn show-following" data-user-id="{{ .Profile.User.ID }}">
                <span class="following-count">{{ .Profile.User.Following }}</span> Following
            </button>
        </span>
        <span>
            <button type="button" class="profile-stat-btn show-followers" data-user-id="{{ .Profile.User.ID }}">
                <span class="followers-count">{{ .Profile.User.Followers }}</span> Followers
            </button>
        </span>
    </div>
    <div class="profile-tabs mt-4 px-4">
        <ul class="nav nav-tabs border-0">
            <li class="nav-item">
                <a class="nav-link active" href="#">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Replies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Media</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Likes</a>
            </li>
        </ul>
    </div>
    <div class="profile-posts px-4 pb-4">
        <section id="profile-posts">
            {{ range .Profile.Posts }}
                {{ if eq .AuthorID $.UserID }}
                    {{ template "post_with_permission" . }}
                {{ else }}
                    {{ template "post_without_permission" . }}
                {{ end }}
            {{ else }}
                {{ template "no_posts_message" . }}
            {{ end }}
        </section>
    </div>
</div>
{{ end }}