<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoSocial Feed</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/assets/css/feed.css">
</head>
<body>
    {{ template "navbar" . }}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 main-column-border">
                {{ template "create_post_form" . }}
                <section id="feed-posts">
                    {{ range .Posts }}
                        {{ if eq .AuthorID $.UserID }}
                            {{ template "post_with_permission" . }}
                        {{ else }}
                            {{ template "post_without_permission" . }}
                        {{ end }}
                    {{ else }}
                        {{ template "no_posts_message" . }}
                    {{ end }}
                </section>
                {{ template "loading_indicator" . }}
            </div>
        </div>
    </div>

    <div id="no-posts-message-template" style="display: none;">
        {{ template "no_posts_message" . }}
    </div>

    {{ template "scripts" . }}
    {{ template "delete_post_modal" . }}
</body>
</html>